# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IDE Settings
.idea/
.vscode/
*.iml

# OS Files
.DS_Store
Thumbs.db

# Plugin Data & Builds
data.json

node_modules/
dist/
releases/
.obsidian/
